/*-------------------------------------------------------------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*================================================*/
/* Global */

html {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  left: 5;
  top: 0;
  margin: 0 auto;
  background: radial-gradient(ellipse at center, rgba(139,196,129,1) 0%,rgba(83,150,83,1) 36%,rgba(9,34,6,1) 100%);
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

/*================================================*/
/* Introduction page */

#intro {
  padding-top: 80px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  /*display: none;*/
}

#intro h1 {
  padding: 20px 0;
  font-size: 50px;
}

#intro h2 {
  font-family: 'Indie Flower', cursive;
  color: rgb(0,255,92);
  text-transform: uppercase;
  font-size: 100px;
  padding: 20px auto;
}

/*--------------*/
/* start button */

#intro button {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000000;
  display: block;
  padding: 20px 40px;
  margin: 50px auto;
  background: linear-gradient(rgb(28,255,119), rgb(169,255,166));
  color: black;
  width: 350px;
  font-size: 2em;
}

#intro button .button-hover {
  display: none;
}

#intro button:hover .button-steady {
  display: none;
}

#intro button:hover .button-hover {
  display: inline;
}

#intro button:hover {
  cursor: pointer;
}

/*================================================*/
/* Quiz */

#quiz {
  display: none;
  padding-top: 24px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

/*---------------*/
/* status header */

#quiz .status {
  width: 490px;
  height: 32px;
  margin: 0 auto;
  border-bottom: 2px inset black;
}

#quiz .question-status {
  margin: 0 10px;
  float: left;
}

#quiz .score-status {
  margin: 0 10px;
  float: right;
}

/*----------*/
/* question */

#quiz .question {
  padding: 50px 0 20px 0;
  font-size: 36px;
}

/*--------*/
/* photos */

#quiz .photos img {
  width: 250px;
  margin: 5px;
  border: solid 5px transparent;
}

#quiz img:hover {
  border: solid 5px white;
}

#quiz .correct {
  border: solid 5px lime !important;
}

#quiz .wrong {
  border: solid 5px red !important;
}

/*---------*/
/* results */

#quiz .results {
  display: none;
  padding-top: 24px;
  width: 520px;
  margin: 0 auto;
  line-height: 26px;
}

#quiz button {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000000;
  display: block;
  height: 40px;
  margin: 20px auto;
  background: linear-gradient(rgb(28,255,119), rgb(169,255,166));
  color: black;
  width: 170px;
  font-size: 22px;
  text-transform: uppercase;
}

#quiz button:hover {
  background: linear-gradient(rgba(28,255,119,.75), rgba(169,255,166,.75));
}

/*================================================*/
/* Finish */

#finish {
  display: none;
  padding-top: 80px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

#finish h1 {
  font-family: 'Indie Flower', cursive;
  color: rgb(0,255,92);
  text-transform: uppercase;
  font-size: 100px;
  padding: 20px auto;
}

#finish .finish-score {
  padding: 20px 0;
  font-size: 50px;
}

#finish .score-text {
  padding: 20px 0;
  font-size: 30px;
}

#finish button {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000000;
  display: block;
  padding: 20px 40px;
  margin: 50px auto;
  background: linear-gradient(rgb(28,255,119), rgb(169,255,166));
  color: black;
  width: 350px;
  font-size: 2em;
}

#finish button:hover {
  cursor: pointer;
}

