/*-------------------------------------------------------------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--------*/
/* Global */

html {
  font-family: 'Raleway', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 5;
  top: 0;
  margin: 0 auto;
  background: radial-gradient(ellipse at center, rgba(139,196,129,1) 0%,rgba(83,150,83,1) 36%,rgba(9,34,6,1) 100%);
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

/*-------------------*/
/* Introduction page */

#intro {
  padding-top: 80px;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  /*display: none;*/
}

#intro h1 {
  padding: 20px 0;
  font-size: 50px;
}

#intro h2 {
  font-family: 'Indie Flower', cursive;
  color: rgb(0,255,92);
  text-transform: uppercase;
  font-size: 100px;
  padding: 20px auto;
}

#intro button {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000000;
  display: block;
  padding: 20px 40px;
  margin: 50px auto;
  background: linear-gradient(rgb(28,255,119), rgb(169,255,166));
  color: black;
  width: 350px;
  font-size: 2em;
}

#intro button .button-hover {
  display: none;
}

#intro button:hover .button-steady {
  display: none;
}

#intro button:hover .button-hover {
  display: inline;
}

#intro button:hover {
  cursor: pointer;
}

/*------*/
/* Quiz */

#quiz {
  display: none;
  padding-top: 50px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

#quiz .title {
  padding: 20px 0 10px 0;
  font-family: 'Indie Flower', cursive;
  color: rgb(0,255,92);
  text-transform: uppercase;
  font-size: 60px;
}

#quiz .score {
  font-size: 30px;
}

#quiz .question {
  padding: 40px 0 20px 0;
  font-size: 26px;
}

#quiz .status {
  position: relative;
  font-size: 24px;
  margin: 0 20px 50px 20px;
}

#quiz .photos img {
  width: 250px;
  margin: 5px;
  border: solid 5px transparent;
}

#quiz img:hover {
  border: solid 5px white;
}

#quiz .correct {
  border: solid 5px lime !important;
}

#quiz .wrong {
  border: solid 5px red !important;
}

#quiz .results {
  display: none;
  font-size: 26px;
  padding-top: 40px;
}

#quiz button {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000000;
  display: block;
  padding: 10px 40px;
  margin: 20px auto;
  background: linear-gradient(rgb(28,255,119), rgb(169,255,166));
  color: black;
  width: 170px;
  font-size: 22px;
  text-transform: uppercase;
}

#quiz button:hover {
  background: linear-gradient(rgba(28,255,119,.75), rgba(169,255,166,.75));
}
